v-card.mt-2
  v-toolbar(card)
    v-toolbar-title Acabados para {{material.tipo}}s
    v-spacer



  v-card-text(v-if="material.tipo == 'rigido'")
    v-checkbox(:label="'Margen para corte'" v-model="material.margen" color="red" )

    v-radio-group(label="Medianil: " v-model="material.medianil" mandatory row)
      v-radio(v-for="m in db.medianiles" :label="m.name" :value="m" color="red" :key="m.name")


  v-card-text(v-if="material.tipo == 'flexible'")
    v-tooltip(top)
      span La pinza de 1.5 cm es obligatoria en flexibles
      v-checkbox(:label="'Pinza'" slot="activator" v-model="material.pinza" color="red" disabled)
    v-switch(label="Rebase perimetral (Jareta)" v-model="material.rebase" color="red")
    div(v-if="material.rebase")
      v-layout(align-center justify-center)
        v-btn-toggle(v-model="material.rebaseTipo" mandatory)
          v-btn(v-for="count in 3" :key="count" color="red" dark outline): v-icon(small :class="'icon-jareta_'+count")
      v-container(grid-list-md fluid)
        template(v-if="material.rebaseTipo==0")
          v-layout
            v-flex: v-text-field(v-model="material.rebases.tb" label="Rebase (cm)" type="number" box min="0" color="red")
          v-layout  
            v-flex: v-text-field(v-model="material.rebases.t" label="Superior (cm)" type="number" :append-icon="'border_top'" disabled)
            v-flex: v-text-field(v-model="material.rebases.b" label="Inferior (cm)" type="number" :append-icon="'border_bottom'" disabled)
        template(v-if="material.rebaseTipo==1")
          v-layout
            v-flex: v-text-field(v-model="material.rebases.lr" label="Rebase (cm)" type="number" box min="0" color="red")
          v-layout
            v-flex: v-text-field(v-model="material.rebases.l" label="Izquierdo (cm)" type="number" :append-icon="'border_left'" disabled)
            v-flex: v-text-field(v-model="material.rebases.r" label="Derecho (cm)" type="number" :append-icon="'border_right'" disabled)
        template(v-if="material.rebaseTipo==2")
          v-layout
            v-flex: v-text-field(v-model="material.rebases.t" label="Superior (cm)" type="number" :append-icon="'border_top'" box color="red")
            v-flex: v-text-field(v-model="material.rebases.b" label="Inferior (cm)" type="number" :append-icon="'border_bottom'" box color="red")
          v-layout
            v-flex: v-text-field(v-model="material.rebases.l" label="Izquierdo (cm)" type="number" :append-icon="'border_left'" box color="red")
            v-flex: v-text-field(v-model="material.rebases.r" label="Derecho (cm)" type="number" :append-icon="'border_right'" box color="red")
