v-dialog(v-model="changelog" max-width="400")
  v-card
    
    v-card-title(primary-title): h3 Pendientes
    v-card-text
      ul
        li Botón de descarga.
        li Preloader en muchas piezas.
        li Mejorar algoritmo de acomodo.
    v-card-title(primary-title): h3 Changelog
    v-card-text
      ul
        li Flexible: Modificación de UI en rebase.
        li Flexible: Rebase perimetral corregido. Por pieza.
        li Flexible: Pinza añadida.
        li Tabs: Al modificar muestra la primer hoja.
        li Piezas: Boton para rotar/invertir.
        li Piezas: Modificación UI de cantidad.
        li Flexibles: El Visualizador se escala para limitar el alto de la página.
        li Flexibles y Rigidos: Almacena la última medida ingresada al cambiar tipo de material.
        li General: Configuración en slide izquierdo.
        li Rigidos: Cambio de UI en tamaños
        li Flexibles: Altura Min 5, Max 10'000.
        li Flexibles: Anchos fijos.
        li General: Se pueden añadir hasta #[strong 40 hojas].
        li Responsivo (sin testear en moviles).
        li Refactorización 1. 
        
