v-card.blue-grey.lighten-3
  v-card-text
    #visualizer {{visualizer}}
    v-tabs(dark slider-color="white" color="red darken-4" show-arrows v-model="activePage")
      v-tab(v-for="(page, index) in paginas" :key="index" ripple) Hoja {{index+1}}
      v-tab-item(v-for="(page, index) in paginas" :key="index")
        .svg-container
          .mat_w.caption {{material.w}} cm
          .mat_h.caption {{material.h}} cm



          svg(:view-box.camel="viewboxSize" :id="'page-'+index").rendered
            rect(:width="material.w" :height="material.h" stroke-width=".1" stroke="#eee" fill="#fff").elevation-4
            // MARGEN
            g(v-if="material.margen && material.tipo=='rigido'")
              rect(:width="material.w" height="1" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1")
              rect(:width="1" :height="material.h" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1")
              rect(:width="material.w" height="1" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1" :transform="'translate(0,'+(material.h-1)+')'")
              rect(:width="1" :height="material.h" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1" :transform="'translate('+(material.w-1)+',0)'")
            
            // PINZA
            g(v-if="material.pinza && material.tipo=='flexible'")
              rect(:width="material.w" height="1.5" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1")
              rect(:width="1.5" :height="material.h" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1")
              rect(:width="material.w" height="1.5" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1" :transform="'translate(0,'+(material.h-1)+')'")
              rect(:width="1.5" :height="material.h" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1" :transform="'translate('+(material.w-1)+',0)'")
                
            //REBASE
            //
              rect(:width="material.w" :height="material.rebases.t" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1").rebase-t
              rect(:width="material.w" :height="material.rebases.b" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1" :transform="'translate(0,'+(material.h-material.rebases.b)+')'").rebase-b
              rect(:width="material.rebases.l" :height="material.h" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1").rebase-l
              rect(:width="material.rebases.r" :height="material.h" stroke-width=".2" stroke="#000" fill="#fff" stroke-dasharray="1,1" :transform="'translate('+(material.w-material.rebases.r)+',0)'").rebase-r
            
            
            //GRAFICO
            g(v-for="(g, index) in page.graphics" v-bind:transform="'translate('+g.x+','+g.y+')'" )
              
              template(v-if="material.tipo=='flexible'")
                
                //Rebases
                //T
                rect(:width="g.w" :height="material.rebases.t" fill="rgba(0,0,0,0.2)" stroke-width=".1" stroke="#444" stroke-dasharray="3,3")
                //B
                rect(:width="g.w" :height="material.rebases.b" fill="rgba(0,0,0,0.2)" :transform="'translate(0,'+(g.h-material.rebases.b)+' )'" stroke-width=".1" stroke="#444" stroke-dasharray="3,3")
                
                //L
                rect(:width="material.rebases.l" :height="g.h" fill="rgba(10,10,10,0.1)" stroke-width=".1" stroke="#888" stroke-dasharray="3,3")
                //R
                rect(:width="material.rebases.r" :height="g.h" fill="rgba(10,10,10,0.1)" :transform="'translate('+(g.w-material.rebases.r)+', 0)'" stroke-width=".1" stroke="#888" stroke-dasharray="3,3")
                
                
                
                
                
                rect(:width="g.w-material.rebases.l-material.rebases.r" :height="g.h-material.rebases.t-material.rebases.b" fill="rgba(255,255,255,0.1)" stroke-width=".3" v-bind:stroke="g.c" :transform="'translate('+material.rebases.l+','+material.rebases.t+')'")
              

            
              template(v-if="material.tipo=='rigido'")
                rect(v-bind:width="g.w" v-bind:height="g.h" fill="rgba(0,0,0,0.1)" stroke-width=".1" stroke="#444" stroke-dasharray="3,3")
                rect(v-bind:width="g.w-(material.medianil.value*2)" v-bind:height="g.h-(material.medianil.value*2)" fill="#fff" stroke-width=".3" v-bind:stroke="g.c" :transform="'translate('+material.medianil.value+','+material.medianil.value+')'")



          v-layout.resultado
            v-flex Ocupado: {{page.ocupado}} cm2
            v-flex Merma: {{(material.w_rendered*material.h_rendered)-page.ocupado}} cm2

      
