v-card.blue-grey.lighten-3
  v-card-text
    #visualizer {{visualizer}}
    

    v-tabs(dark slider-color="white" color="red darken-4" show-arrows v-model="activePage" v-bind:class="{ asGRID: viewgrid }")
      
      v-tab(v-for="(page, index) in paginas" :key="index" ripple) P.{{index+1}}
      
      v-tab-item(v-for="(page, index) in paginas" :key="index")
          include _svg

          
          v-layout.resultado
            v-flex Ocupado: {{page.ocupado}} cm2
            v-flex Merma: {{(material.w_rendered*material.h_rendered)-page.ocupado}} cm2

      
