@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g4e62i');
  src:  url('fonts/icomoon.eot?g4e62i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g4e62i') format('truetype'),
    url('fonts/icomoon.woff?g4e62i') format('woff'),
    url('fonts/icomoon.svg?g4e62i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jareta_1:before {
  content: "\e900";
}
.icon-jareta_2:before {
  content: "\e901";
}
.icon-jareta_3:before {
  content: "\e902";
}





.svg-container{
  margin-top: 30px;
  position: relative;
  .mat_w,.mat_h{
    //color:#fff;
    position: absolute;
  }
  .mat_w{
    left: 30px; top: 0px;
  }
  .mat_h{
    left: 6px; top: 120px;
    transform: rotate(-90deg);
    transform-origin: left;
    text-align: right;
    min-width: 100px;
  }
  .resultado{
    //color:#fff;
  }
}
svg.rendered{
  outline: 1px solid #aaa;
  width: 90%;
  max-height:6000px;
  margin:5%;
  //background: #fff;
}


#visualizer{display: none;}



canvas{
  width: 100%;
  min-height: 80px;
}
