doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SinergiApp
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
    link(rel="stylesheet", href="//unpkg.com/vuetify/dist/vuetify.min.css")
    link(rel="stylesheet", href="//unpkg.com/vue-swatches/dist/vue-swatches.min.css")
    link(rel="stylesheet", href="app/app.css")
  body
  

    div#app(v-cloak)
      
      v-app#inspire()
        
        //:mini-variant.sync="mini" 
        v-navigation-drawer(v-model="drawer" fixed clipped app width="420")
          v-toolbar().blue-grey.lighten-3
            v-toolbar-title Configurar documento
            v-spacer
            v-btn(icon @click.stop="drawer = !drawer").hidden-lg-and-up: v-icon close
          include modules/_material.pug
          include modules/_piezas.pug  
          include modules/_acabados.pug
        
        include modules/_toolbar.pug
        
        v-content
          v-container
            
                include modules/_visualizador.pug
                
                
        include modules/_footer.pug
        
        include modules/_changelog.pug
        
        v-dialog(v-model="dialog")
          v-card
            v-card-text
              v-alert(:value="true" outline) Se ha descargado tu documento en PDF
         
               
               
               
    script(src="//unpkg.com/vue/dist/vue.js")
    //script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="//unpkg.com/vuetify/dist/vuetify.min.js")
    script(src="//unpkg.com/vue-swatches@1.0.1/dist/vue-swatches.min.js")
    script(src="//cdn.rawgit.com/yWorks/jsPDF/ee8bcea8/dist/jspdf.min.js")
    script(src="//cdn.rawgit.com/yWorks/svg2pdf.js/master/dist/svg2pdf.min.js")
    script(src="app/packer.js")
    script(src="app/config.js")
    script(src="app/app.js")
            
