<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SinergiApp
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
    link(rel="stylesheet", href="//unpkg.com/vuetify/dist/vuetify.min.css")
    link(rel="stylesheet", href="app/icomoon.css")
    link(rel="stylesheet", href="//unpkg.com/vue-swatches/dist/vue-swatches.min.css")
    link(rel="stylesheet", href="app/app.css")
  body
  
  
  
    div#app
      template: div: swatches

      v-app#inspire()
        v-toolbar(dark).red.darken-4.pa-3
          v-toolbar-title SINERGIAPP
          v-spacer
          v-toolbar-items
            v-btn(v-on:click="downloadPDF" flat) Descargar PDF
        v-content
          v-container
            v-layout()
              v-flex(xs12).mr-4: form
                v-card.mb-2
                  v-toolbar(card)
                    v-toolbar-title Material
                    v-spacer
                    
                    v-btn-toggle(v-model="material.tipo" mandatory)
                      v-btn(value="flexible" color="red" dark outline)
                        span Flexible
                        v-icon aspect_ratio
                      v-btn(value="rigido" color="red" dark outline)
                        span Rígido
                        v-icon settings_overscan
                  
                  v-card-text
                  
                    v-layout(v-if="material.tipo == 'rigido'" align-center justify-center).mb-2
                      v-btn-toggle(v-model="material.rigidoElegido" mandatory)
                        v-btn(v-for="(te,index) in material.medidas" :key="te.id" :value="te.id" color="red" dark outline flat)
                          span {{te.w}} x {{te.h}}
                    v-layout
                      v-flex: v-text-field(v-model="material.w" label="Ancho (cm)" required type="number" :append-icon="'swap_horiz'" outline :disabled="material.tipo == 'rigido'")
                      v-flex: v-text-field(v-model="material.h" label="Alto (cm)" required type="number" :append-icon="'swap_vert'" outline :disabled="material.tipo == 'rigido'")
                    
                
                  
                        
                  
                v-card.mt-2
                  v-toolbar(card)
                    v-toolbar-title Piezas
                    v-spacer
                    v-btn(color="red" dark outline small v-on:click="addGraphic") Agregar
                
                  v-card-text
                    v-expansion-panel(popout v-model="graphics" expand)
                      v-expansion-panel-content(v-for="(p, index) in piezas" :key="index" ripple)
                        div(slot="header")
                          v-icon(small) photo_size_select_actual
                          strong  {{p.w}}x{{p.h}} cms [{{p.q}} piezas]
                        v-card
                          
                          v-card-text
                            v-layout
                              v-flex: v-text-field(v-model="p.w" box type="number" label="Ancho (cm)" outline min="1")
                              v-flex: v-text-field(v-model="p.h" box type="number" label="Alto (cm)" outline min="1")
                              v-flex: v-text-field(v-model="p.q" box type="number" label="Cantidad" outline min="1")                              
                            v-layout
                              swatches(v-model="p.c" popover-to="left")
                              v-spacer
                              v-btn(color="red" outline v-if="index != 0" small v-on:click="deleteGraphic(index)") Eliminar
              

                v-card.mt-2
                  v-toolbar(card)
                    v-toolbar-title Acabados para {{material.tipo}}s
                    v-spacer
      
                  v-alert(type="error" :value="true" outline) Zona de acabados en construcción                     
                    
                  v-card-text(v-if="material.tipo == 'rigido'")
                    v-checkbox(:label="'Margen para corte'" v-model="material.margen" color="red" )
                    v-radio-group(label="Medianil" v-model="material.medianil" mandatory)
                      v-layout
                        v-radio(v-for="m in material.medianiles" :label="m.name" :value="m.value" color="red"  :key="m.name")
                      
                    
                  v-card-text(v-if="material.tipo == 'flexible'")
                    v-switch(label="Rebase perimetral (Jareta)" v-model="material.rebase" color="red")
                    div(v-if="material.rebase")
                      v-layout(align-center justify-center)
                        v-btn-toggle(v-model="material.rebaseTipo" mandatory)
                          v-btn(value="1" color="red" dark outline): v-icon(small).icon-jareta_a
                          v-btn(value="2" color="red" dark outline): v-icon(small).icon-jareta_b
                          v-btn(value="3" color="red" dark outline): v-icon(small).icon-jareta_c
                      v-container
                        v-layout(v-if="material.rebaseTipo==1 || material.rebaseTipo==3")
                          v-flex: v-text-field(v-model="material.rebases.t" label="Superior (cm)" type="number" :append-icon="'border_top'" outline)
                          v-flex: v-text-field(v-model="material.rebases.b" label="Inferior (cm)" type="number" :append-icon="'border_bottom'" outline)
                        v-layout(v-if="material.rebaseTipo==2 || material.rebaseTipo==3")
                          v-flex: v-text-field(v-model="material.rebases.t" label="Izquierdo (cm)" type="number" :append-icon="'border_left'" outline)
                          v-flex: v-text-field(v-model="material.rebases.t" label="Derecho (cm)" type="number" :append-icon="'border_right'" outline)
                          
                      
                      
                //p.subtitle X: {{objectsInX}} | Y: {{objectsInY}}
                //p.subtitle Total: {{objectsTotal}}
                  
                
                v-dialog(v-model="dialog")
                  v-card
                    v-card-text: p Tu archivo ha sido descargado.
              
              
              
              
              
              
              v-flex(xs12)
                v-card.red.elevation-2
                  v-card-text
                    #visualizer
                      p {{visualizer}}
                      hr
                      
                    #svg-container
                      .mat_w.caption {{material.w}} cm
                      .mat_h.caption {{material.h}} cm
                      svg(:view-box.camel="viewboxSize")#svg.elevation-4
                        
                        g(v-for="g in graficos" v-bind:transform="'translate('+g.x+','+g.y+')'" )
                          | {{g}}
                          rect(v-bind:width="g.w" v-bind:height="g.h" fill="rgba(255,255,255,0.4)" stroke-width="1" v-bind:stroke="g.c")
                      
                      
                      
        v-footer(dark height="auto" tile).red.darken-4.pa-3
          v-spacer
          div Sinergia Publicitaria. {{ new Date().getFullYear() }}.
      
    script(src="//unpkg.com/vue/dist/vue.js")
    //script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="//unpkg.com/vuetify/dist/vuetify.min.js")
    script(src="//unpkg.com/vue-swatches@1.0.1/dist/vue-swatches.min.js")
    script(src="//cdn.rawgit.com/yWorks/jsPDF/ee8bcea8/dist/jspdf.min.js")
    script(src="//cdn.rawgit.com/yWorks/svg2pdf.js/master/dist/svg2pdf.min.js")
    
    //script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
    script(src="app/app.js")
            
